@import "VideoSliderVariables";


.container {
    position: relative;
    text-align: center;
    justify-content: center;
}

.img {
    width: 100%;
    display: block;
}

.shadow_container {
    opacity: 0.5;
    background-color: #130C7B;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.right_btn {
    position: absolute;
    top: 50%;
    right: 20px;
    color: $el-color;
    font-size: 80px;
    cursor: pointer;
    z-index: 10;
}

.down_btn {
    position: absolute;
    top: 80%;
    left: 47.5%;
    margin: auto;
    cursor: pointer;
    z-index: 10;
    padding: 10px;
    width: 57.6px;
    height: 57.6px;
    border-radius: 35px;
    border: 1px solid #FFFFFF;
    opacity: 0.5;
    background: none;
    transition: 0.5s ease;

    .arrow {
        width: 40px;
        height: 35px;
        top: 0;
        left: -5%;
        color: #FFFFFF;
    }

    &:hover {
        transform: scale(1.15);
    }
}

.left_btn {
    position: absolute;
    top: 50%;
    left: 20px;
    color: $el-color;
    font-size: 80px;
    cursor: pointer;
    z-index: 10;
}

.slide {
    opacity: 0;
    transition-duration: 1s ;
    position: absolute;
}

.slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1);
}

.dot {
    cursor: pointer;
    height: 11px;
    width: 11px;
    margin: 0 7px;
    background: none;
    border: 1px $el-color solid;
    border-radius: 50%;
    display: inline-block;
    transition:  0.6s ease;
    transform: translate(0, -900%);
}

.active, .dot:hover {
    background-color: $el-color;
}

.text_container {
    position: absolute;
    background: none;
    width: 70%;
    left: 50%;
    top: 40%;
    text-align: center;
    transform: translate(-50%, -50%);
    animation: moveText 1s ease;

    h1 {
        font-size: 70px;
        letter-spacing: 3px;
        height: 61px;
        color: $el-color;
        margin-bottom: 10px;
        font-family: 'Montserrat', sans-serif;
    }

    p {
        font-size: 20px;
        color: $el-color;
        margin-bottom: 10px;
        height: 50px;
        width: 80%;
        left: 10%;
        margin-top: 50px;
        font-family: "Montserrat-Regular", sans-serif ;
    }
}

@keyframes moveText {
    from {top: 80%;opacity: 0}
    to {top: 40%; opacity: 1}
}

.jobs_btn {
    position: absolute;
    width: 20%;
    left: 40%;
    top: 60%;
    color: #FFFFFF;
    padding: 15px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}



@media screen and (max-width: 1100px) {
    .container {
        height: 600px;
    }

    .left_btn, .right_btn {
        top: 40%;
        font-size: 70px;
    }

    .text_container {
        left: 50%;
        top: 20%;
    }

    .text_container h1 {
        font-size: 60px;
    }

    .button_container {
        left: 50%;
        top: 50%;
    }
}

@media screen and (max-width: 900px) {
    .left_btn, .right_btn {
        top: 20%;
        font-size: 60px;
    }

    .container {
        margin-top: 15px;
        height: 450px;
    }

    .text_container {
        left: 50%;
        top: 20%;
        transform: translate(-50%, -50%);
    }

    .text_container h1 {
        font-size: 35px;
        height: 30px;
    }

    .text_container p {
        font-size: 20px;
    }

    .button_container {
        left: 50%;
        top: 50%;
    }

    .button_container p {
        margin-left: 70px;
        color: $el-color;
        font-size: 16px;
        transform: translateY(50%);
    }

    .button_container:hover .circle {
        width: 100%;
        border-radius: 30px;
    }
}

@media screen and (max-width: 700px) {
    .container {
        height: 400px;
    }
}

@media screen and (max-width: 600px) {
    .container {
        height: 350px;
    }
}

@media screen and (max-width: 500px) {
    .container {
        height: 300px;
    }
}

@media screen and (max-width: 400px) {
    .container {
        height: 200px;
    }
}
