* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    width: 100%;
}

.section {
    width: 100%;
    position: relative;
    margin: 250px auto;
    border-color: #004dff;
    opacity: 1;
}

.img {
    height: 50%;
    width: 100%;
    margin-bottom: 20px;
}

.img:hover .cursor{
    opacity: 1;
}

.text_container {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 30px;
    text-align: left;
}

.text_container h5 {
    font-size: 15px;
    margin-bottom: 20px;
}

.text_container span {
    font-size: 30px;
    line-height: 30px;
    font-family: 'Quicksand', sans-serif;
}

.text_container span:hover {
    cursor: pointer;
    color: #004dff;
}

.text_container p {
    font-size: 18px;
    margin-top: 10px;
    line-height: 20px;
    font-family: 'Quicksand', sans-serif;
}

.img1 {
    top: 0;
    animation-fill-mode: forwards;
    animation: animateImg 1s ease;
}

.img2 {
    top: 7%;
    animation-fill-mode: forwards;
    animation: animateImg 1s ease;
}

.img3 {
    top: 15%;
    animation-fill-mode: forwards;
    animation: animateImg 1s ease;
}

.img4 {
    top: 23%;
    animation-fill-mode: forwards;
    animation: animateImg 1s ease;
}

@keyframes animateImg {
    from {height: 0;}
    to {height: 50% ;}
}

@media screen and (max-width: 900px) {
    .container{
        margin-top: 500px;
        display: table;
    }

    .section {
        margin: 0;
    }

    .img {
        width: 80%;
        height: 200px;
    }
}

.cursor {
    opacity: 0;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    color: #ffffff;
    background-color: #6e55ca;
    position: fixed;
    animation: 1s ease;
}


.button_container {
    position: relative;
    background: none;
    left: 50%;
    top: 10%;
    transform: translate(-50%, 0);
    width: 100%;
    cursor: pointer;
}

.button_container p {
    margin-left: 70px;
    margin-right: 25px;
    color: #0000ff;
    font-family: 'Arimo', sans-serif;
    font-size: 15px;
    width: 150px;
    transform: translateY(40%);
    animation: message 0.5s ease-in-out;
    cursor: pointer;
    opacity: 0;
    animation-fill-mode: forwards;
}

@keyframes message {
    0% {opacity: 0}
    100% {opacity: 1}
}

.button_container:hover .circle {
    width: 100%;
    border-radius: 30px;
}

.circle {
    position: absolute;
    background: none;
    border: 1.5px solid #0000ff;
    border-radius: 30px;
    width: 37px;
    height: 37px;
    z-index: 1;
    /*animation: circle 0.5s ease;*/
    /*opacity: 0;*/
}

/*@keyframes circle {*/
/*    from {opacity: 0}*/
/*    to {opacity: 1}*/
/*}*/


.btn_icon {
    display: flex;
    position: absolute;
    font-size: 30px;
    color: #0000ff;
    transform: translate(60%, 10%);
    animation: icon 1s ease;
    animation-fill-mode: forwards;
    opacity: 0;
}


@keyframes icon {
    from {left: -50%; opacity: 0}
    to {left: 5%; opacity: 1}
}

