.container {
  width: 80%;
  margin: 0 auto 200px;
  padding: 20px;
  height: 800px;
  transform: translateY(10%);
  box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.2);

  .title_container {
    display: grid;
    grid-template-columns: repeat(2, 93% 7%);
    .title {
      width: 274px;
      height: 49px;
      margin: 7px 247px 23px 42px;
      font-family: "Montserrat", sans-serif;
      font-size: 40px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #0f183f;
    }

    .bookmark {
      font-size: 40px;
      margin: 7px 0 20.2px 1.4px;
      opacity: 0.2;
      color: #0f183f;
    }
  }

  .apply_container {
    display: grid;
    padding: 10px 20px;
    grid-template-columns: repeat(4, 18% 23% 23% 36%);
    color: #0f183f;

    .job_value {
      font-size: 14px;
      margin-left: 10px;
      font-family: 'Montserrat', sans-serif;
    }

    span {
      margin-left: 20px;
      margin-bottom: 5px;
      padding-top: 20px;
      text-align: left;
      font-size: 13px;
      display: block;
      font-family: "Graphik Light","Arial", sans-serif;
    }

    .apply_btn {
      width: 195px;
      height: 48px;
      left: 40%;
      padding: 15px;
      border-radius: 4px;
      background-color: #005eb8;
      color: #FFFFFF;
      text-align: center;
      font-family: 'Montserrat', sans-serif;
    }
  }

  .description {
    padding: 20px 40px;
    color: #0f183f;
  }
}

//@media screen and (max-width: 1080px) {
//  .apply_container {
//    grid-template-columns: repeat(4, 22% 25% 25% 28%);
//  }
//}
