@import "MenuItemsVariables";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar_items {
    background-color: #fff;
    text-align: center;
    //margin-right: 0;
    padding: 10px 20px;
}

.container {
    width: 100%;
    height: 400px;
    border-top: $subject-border-bottom;
    box-shadow: $top-shadow;
    background: #ffffff;
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 50px 150px;
    margin: auto;
    overflow: hidden;
    position: absolute;
    z-index: 999;
}

.img {
    margin: 0 20px;
    padding-top: 0;
    width: 100px;
    cursor: pointer;
    float: left;

}

.nav_menu {
    display: grid;
    grid-template-columns: repeat(6, auto);
    text-align: center;
    justify-content: start;
    list-style: none;
    height: 40px;
    line-height: 35px;
    margin: 0 10px;
    z-index: 999;

    span {
        cursor: context-menu;
        width: 130px;
    }
}

.nav_menu.active {
    top: 50px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
}

.nav_links {
    font-size: .875rem;
    cursor: pointer;
    padding-top: .143em;
    margin-bottom: 30px;
    vertical-align: middle;
    transform: translateY(10%);
    font-family: 'Roboto', sans-serif;

    a {
        width: 200px;
        height: 100px;
    }
}

.selected_link {
    font-weight: bold;
    cursor: pointer;
}

.menu_icon {
    text-align: left;
    display: none;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

@media screen and (max-width: 900px) {
    .navbar_items {
        position: relative;
    }

    .nav_menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        opacity: 1;
        justify-content: start;
        padding: 20px;
        top: -300px;
        margin: 0;
        transition: all 0.5s ease;
    }

    .nav_menu.active {
        top: 50px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }

    li {
        height: 20px;
        padding: 0;
        display: block;
    }

    img {
        padding-top: 10px;
        width: 95px;
        margin: 0 auto;
        position: relative;
        float: none;
    }

    .nav_links {
        display: table;
        height: 30px;
    }

    .menu_icon {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(100%, 60%);
        font-size: 20px;
        cursor: pointer;
    }
}
