$btn_heading_color: #0477e8;

*,
*::before,
*::after {
    box-sizing: border-box;
    position: relative;
}

.section_container.section_container_8 {
    overflow: hidden;

}
.section_container {
    width: 100%;
    position: relative;
}

.row {
    width: 100%;
    margin: 0 auto;
    padding-top: 1.25em;
    padding-bottom: 1.25em;

    &:before, &:after {
        content: " ";
        display: table;
    }
}

.carousel {
    position: relative;
    width: 100%;

    .container {
        height: 600px;
        width: 420px;
        position: relative;
        perspective: 1450px;
        margin: 60px auto;

        &:before {
            content: " ";
            display: block;
            background: #FFFFFF;
            width: 84%;
            height: 100%;
            position: absolute;
            top: -4%;
            left: 10%;
            z-index: -1;
        }
    }
}

.zoom {
    overflow: hidden;
    height: 650px;
}

.images {
    display: block;
    transform-style: preserve-3d;
    transition: all .5s;
    transform: translateZ(972px);

    div {
        overflow: hidden;
        margin-left: 13%;
        left: 2.3%;
        padding: 0;
        display: block;
        position: absolute;
        width: 310px;
        height: 300px;
        background: none;
        text-align: center;
        backface-visibility: hidden;
    }
}

.img_container_1 {
    transform: rotateY(0deg) translateZ(-972px);
}
.img_container_2 {
    transform: rotateY(-20deg) translateZ(-972px);
}
.img_container_3 {
    transform: rotateY(-40deg) translateZ(-972px);
}
.img_container_4 {
    transform: rotateY(-60deg) translateZ(-972px);
}
.img_container_5 {
    transform: rotateY(-80deg) translateZ(-972px);
}
.img_container_6 {
    transform: rotateY(-100deg) translateZ(-972px);
}
.img_container_7 {
    transform: rotateY(-120deg) translateZ(-972px);
}
.img_container_8 {
    transform: rotateY(-140deg) translateZ(-972px);
}
.img_container_9 {
    transform: rotateY(-160deg) translateZ(-972px);
}
.img_container_10 {
    transform: rotateY(-180deg) translateZ(-972px);
}
.img_container_11 {
    transform: rotateY(-200deg) translateZ(-972px);
}
.img_container_12 {
    transform: rotateY(-220deg) translateZ(-972px);
}
.img_container_13 {
    transform: rotateY(-240deg) translateZ(-972px);
}
.img_container_14 {
    transform: rotateY(-260deg) translateZ(-972px);
}
.img_container_15 {
    transform: rotateY(-280deg) translateZ(-972px);
}
.img_container_16 {
    transform: rotateY(-300deg) translateZ(-972px);
}
.img_container_17 {
    transform: rotateY(-320deg) translateZ(-972px);
}
.img_container_18 {
    transform: rotateY(-340deg) translateZ(-972px);
}
.images .img_container img {
    transition: transform 0.6s ease;
    animation: animateImg 0.4s ease;
    animation-fill-mode: forwards;

    &:hover {
        transform: scale(1.2);
        cursor: pointer;
    }
}
.carousel_img {
    width: 100%;
}

@keyframes animateImg {
    from {height: 0}
    to {height: 350px}
}

.img {
    height: 100%;
    width: 320px;
    margin: 0px;
    transition: 0.4s ease;
    animation: img 1s ease;
    position: absolute;
    background: #000;
    line-height: 200px;
    text-align: center;
    color: #FFF;
    opacity: 1;
    top: 20%;
    left: 0;

}

.text {
    margin: 40px auto;
    text-align: left;
    top: 50%;
    width: 80%;
    height: 260px;
    padding: 20px;
    left: 0.7%;
    animation: animateText 1.5s ease ;


    h3 {
        font-family: 'Montserrat-Medium', sans-serif;
        color: #0477e8;
        font-size: 30px;
        line-height: 37px;
        animation: animateText 1s ease ;
        font-weight: 500;
        margin-bottom: 0.55em;
        top: 0;
        opacity: 1;
        transition-delay: 0.2s;

        &:hover {
            cursor: pointer;
        }
    }

    p {
        font-family: 'Montserrat-Regular', sans-serif;
        font-size: 16px;
        line-height: 22px;
        color: #403b3b;
        opacity: 0.7;
    }
}

@keyframes animateText {
    from {opacity: 0}
    to {opacity: 1}
}

.hidden {
    display: none
}

.next_btn {
    position: relative;
    left: 100%;
    color: $btn_heading_color;
    font-size: 45px;
    cursor: pointer;
    z-index: 10;
    width: 57.6px;
    height: 57.6px;
    border-radius: 35px;
    padding: 10px;
    border: 1px solid $btn_heading_color;
    background-color: white;
    transition: 0.5s ease;

    .arrow {
        width: 40px;
        height: 35px;
        top: -20%;
        color: #0477e8;
    }

    &:hover {
        transform: scale(1.2);
    }
}

.prev_btn {
    width: 57.6px;
    height: 57.6px;
    left: -10%;
    border-radius: 35px;
    border: 1px solid $btn_heading_color;
    background-color: white;
    position: relative;
    top: 10%;
    padding: 10px;
    color: $btn_heading_color;
    font-size: 45px;
    cursor: pointer;
    z-index: 10;
    transition: 0.5s ease;

    .arrow {
        width: 40px;
        height: 35px;
        top: -20%;
        color: #0477e8;
    }

    &:hover {
        transform: scale(1.2);
    }
}
