.container {
    width: 85%;
    height: 100%;
    margin:  auto;
    padding: 50px;
    text-align: center;
    transform: translateY(0);
}

.heading {
    animation: animateHeading 5s ease;
    animation-fill-mode: forwards;
    position: relative;
    font-family: 'Arimo', sans-serif;
    font-size: 25px;
    left: 0;
    transform: translateY(-100%);
    opacity: 0;
    width: 100%;
}
@keyframes animateHeading {
    from {opacity: 0}
    to { opacity: 1}
}

.text {
    position: relative;
    margin: auto;
    font-size: 21px;
    font-family: 'Quicksand', sans-serif;
    animation: animateText 0.5s ease;
    animation-delay: 0.5s;
    opacity: 0;
    left: 0;
    top: 10%;
    width: 100%;
    animation-fill-mode: forwards;
    transform: translateY(-200%);
}

@keyframes animateText {
    from { opacity: 0}
    to { opacity: 1}
}


.button_container {
    display: flex;
    flex-direction: column;
    position: relative;
    background: none;
    left: 50%;
    transform: translate(-50%, 100%);
    grid-column:  1 / span 2;
    width: 20%;
    cursor: pointer;
    animation: click 0.5s ease;
    animation-fill-mode: forwards;
    margin-bottom: 300px;
}

@keyframes click {
    from {height: 0; opacity: 0}
    to {height: 20px; opacity: 1}
}

.button_container p {
    margin-left: 65px;
    margin-right: 25px;
    color: #0000ff;
    font-family: 'Arimo', sans-serif;
    font-size: 17px;
    transform: translateY(50%);
    animation: message 1s ease-in-out;
    animation-delay: 1.5s;
    cursor: pointer;
    opacity: 0;
    animation-fill-mode: forwards;
}

@keyframes message {
    0% {opacity: 0}
    100% {opacity: 1}
}

.button_container:hover .circle {
    width: 100%;
    border-radius: 30px;
}

.circle {
    position: absolute;
    background: none;
    border: 1.5px solid #004dff;
    border-radius: 30px;
    width: 37px;
    height: 37px;
    z-index: 1;
    animation: circle 0.5s ease;
    transition: width 0.5s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.circle p {
    font-family: "Graphik Medium","Arial", sans-serif;
    color: #004dff;
}

@keyframes circle {
    from {opacity: 0}
    to {opacity: 1}
}

.btn_icon {
    display: flex;
    position: absolute;
    font-size: 30px;
    color: #004dff;
    transform: translate(60%, 10%);
    animation: icon 1s ease;
    animation-delay: 0.8s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes icon {
    from {left: -50%; opacity: 0}
    to {left: 5%; opacity: 1}
}